@model WEB_APP_Panaderia.Models.InsumosViewModel

@{
    ViewBag.Title = "Insumos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="add-item d-flex">
                <div class="page-title">
                    <h4>Lista de Insumos</h4>
                    <h6>Gestionar Insumos</h6>
                </div>
            </div>
            <ul class="table-top-head">
                <li>
                    <!--<a data-bs-toggle="tooltip" data-bs-placement="top" title="Pdf"><img src="~/~/assets/img/icons/pdf.svg" alt="img"></a>-->
                </li>
                <li>
                    <!--<a data-bs-toggle="tooltip" data-bs-placement="top" title="Excel"><img src="~/~/assets/img/icons/excel.svg" alt="img"></a>-->
                </li>
                <li>
                    <!--<a data-bs-toggle="tooltip" data-bs-placement="top" title="Print"><i data-feather="printer" class="feather-rotate-ccw"></i></a>-->
                </li>
                <li>
                    <!--<a data-bs-toggle="tooltip" data-bs-placement="top" title="Refresh"><i data-feather="rotate-ccw" class="feather-rotate-ccw"></i></a>-->
                </li>
                <li>
                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="Collapse" id="collapse-header"><i data-feather="chevron-up" class="feather-chevron-up"></i></a>
                </li>
            </ul>
            <div class="page-btn">
				<a href="#" class="btn btn-added" data-bs-toggle="modal" data-bs-target="#agregar-insumo"><i data-feather="plus-circle" class="me-2"></i>Agregar Nuevo Insumo</a>

            </div>
            <br />

        </div>
        <!-- /user list -->

		<div class="card table-list-card">
			<div class="card-body">
				<div class="table-top">
					<div class="search-set">
						<div class="search-input">
							<a href="javascript:void(0);" class="btn btn-searchset"><i data-feather="search" class="feather-search"></i> </a>
						</div>
					</div>
				</div>

				<div class="table-responsive product-list">
					@if (ViewData["Message"] != null)
					{
						<div>@ViewData["Message"]</div>
					}
					else
					{
						@if (Model.Insumos == null)
						{
							<div class="alert alert-warning" role="alert">
								No hay registros de proveedores.
							</div>
						}
						else
						{
							<table class="table">
								<thead>

									<tr>
										<th class="no-sort">
											<label class="checkboxs">
												<input type="checkbox" id="select-all">
												<span class="checkmarks"></span>
											</label>
										</th>

										<th>Nombre</th>
										<th>Tipo Insumo</th>
										<th>Marca</th>
										<th>Categoría</th>
										<th>Presentación</th>
										<th class="no-sort">Acción</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var reporte in Model.Insumos)
									{
										<tr>
											<td>@reporte.idInsumo</td>
											<td>@reporte.nombre</td>
											<td>@reporte.tipo</td>
											<td>@reporte.marca</td>
											<td>@reporte.categoria</td>
											<td>@reporte.presentacion</td>
											<td class="action-table-data">
												<div class="edit-delete-action">
													@* 		<a class="me-2 p-2 mb-0" href="javascript:void(0);">
										<i data-feather="eye" class="action-eye"></i>
										</a> *@
													<a class="me-2 p-2 mb-0" onclick="cargarDatosReporte(@reporte.idInsumo)" data-bs-toggle="modal" data-bs-target="#editar-reporte">
														<i data-feather="edit" class="feather-edit"></i>
													</a>
													<a class="me-2 confirm-text p-2 mb-0" href="javascript:void(0);" data-id="@reporte.idInsumo">
														<i data-feather="trash-2" class="feather-trash-2"></i>
													</a>
												</div>
											</td>
										</tr>
									}
								</tbody>
							</table>
						}
					}
				</div>
			</div>
		</div>

@* 
		@if (ViewData["Message"] != null)
{
    <div>@ViewData["Message"]</div>
}
else
{
    @if (Model.Insumos == null)
    {
        <div class="alert alert-warning" role="alert">
            No hay registros de Insumos.
        </div>
    }
    else
    {
<table class="table">
    <thead>

        <tr>
            <th>Código Insumo</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Marca</th>
            <th>Categoría</th>
        </tr>
    </thead>
    <tbody>
                @foreach (var Insumos in Model.Insumos)
        {
            <tr>
                <td>@Insumos.idInsumo</td>
                <td>@Insumos.nombre</td>
                <td>@Insumos.tipo</td>
                <td>@Insumos.marca</td>
                <td>@Insumos.categoria</td>
                <td>
                   <a class="me-2 p-2 mb-0" href="javascript:void(0);" onclick="cargarDatosInsumos(@Insumos.idInsumo)" data-bs-toggle="modal" data-bs-target="#edit-units">
                      <i data-feather="edit" class="feather-edit"></i>
                    </a>
                    <a class="me-2 confirm-text p-2 mb-0" href="javascript:void(0);" onclick="eliminarInsumo(@Insumos.idInsumo)">
                      <i data-feather="trash-2" class="feather-trash-2"></i>
                     </a>
                </td>
            </tr>
        }
        
    </tbody>
</table> *@
}
}
		<!-- Agregar un insumo -->
		<div class="modal fade" id="agregar-insumo">
			<div class="modal-dialog modal-dialog-centered custom-modal-two">
				<div class="modal-content">
					<div class="page-wrapper-new p-0">
						<div class="content">
							<div class="modal-header border-0 custom-modal-header">
								<div class="page-title">
									<h4>Agregar Reporte de Desechos</h4>
								</div>

								<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body custom-modal-body">

								<div class="row">
									<div class="col-lg-12">
										<div class="new-employee-field">

											@* <span>Avatar</span>
											<div class="profile-pic-upload mb-2">
											<div class="profile-pic">
											<span><i data-feather="plus-circle" class="plus-down-add"></i> Profile Photo</span>
											</div>
											<div class="input-blocks mb-0">
											<div class="image-upload mb-0">
											<input type="file">
											<div class="image-uploads">
											<h4>Change Image</h4>
											</div>
											</div>
											</div>
											</div> *@
										</div>
									</div>
									@using (Html.BeginForm("AgregarInsumos", "Insumos", FormMethod.Post, new { @class = "pt-3" }))
									{

										//@Html.Hidden("idInsumo", IdInsumo)
										//@Html.Hidden("idInsumo", null, new { id = "idInsumoEditar" })
										<div class="col-lg-6">
											<div class="input-blocks">
												<label>Nombre</label>
												<div class="pass-group">
													<input type="text" class="pass-input" name="nombre" id="add-idNombre">
												</div>
											</div>
										</div>

										<div class="col-lg-6">
											<div class="input-blocks">
												<label>Tipo Insumo</label>
												<select class="select tipo-insumo" required name="idTipoInsumo" id="add-idTipoInsumo"></select>
											</div>
										</div>


										<div class="col-lg-6">
											<div class="input-blocks">
												<label>Marca</label>
												<select class="select marca" required name="idMarca" id="add-idMarca"></select>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="input-blocks">
												<label>Categoria Insumo</label>
												<select class="select categoria-insumo" required name="idCategoriaInsumos" id="add-idCategoriaInsumo"></select>
											</div>
										</div>

										<div class="col-lg-6">
											<div class="input-blocks">
												<label>Presentación</label>
												<select class="select presentacion" required name="idPresentacion" id="add-idPresentacion"></select>
											</div>
										</div>


										@* 	<div class="col-lg-12">
									<div class="mb-0 input-blocks">
									<label class="form-label">Descriptions</label>
									<textarea class="form-control mb-1">Type Message</textarea>
									<p>Maximum 600 Characters</p>
									</div>
									</div>
									</div> *@
										<div class="modal-footer-btn">
											<button type="button" class="btn btn-cancel me-2" data-bs-dismiss="modal">Cancelar</button>
											<button type="submit" class="btn btn-submit">Agregar</button>
										</div>
									}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
		<!-- FIN Agregar un insumo -->

	<!-- Editar Reporte de desechos -->
	<div class="modal fade" id="editar-reporte">
		<div class="modal-dialog modal-dialog-centered custom-modal-two">
			<div class="modal-content">
				<div class="page-wrapper-new p-0">
					<div class="content">
						<div class="modal-header border-0 custom-modal-header">
							<div class="page-title">
								<h4>Editar Insumo</h4>
							</div>

							<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body custom-modal-body">

							<div class="row">
								<div class="col-lg-12">
									<div class="new-employee-field">

										@* <span>Avatar</span>
										<div class="profile-pic-upload mb-2">
										<div class="profile-pic">
										<span><i data-feather="plus-circle" class="plus-down-add"></i> Profile Photo</span>
										</div>
										<div class="input-blocks mb-0">
										<div class="image-upload mb-0">
										<input type="file">
										<div class="image-uploads">
										<h4>Change Image</h4>
										</div>
										</div>
										</div>
										</div> *@
									</div>
								</div>
								@using (Html.BeginForm("ActualizarInsumos", "Insumos", FormMethod.Post, new { @class = "pt-3"}))
								{
									@* @Html.Hidden("idUsuario", id_usuario) *@
									@* @Html.Hidden("idInsumo", null, new { id = "idInsumoEditar" }) *@
									<input type="hidden" id="idInsumoEditar" name="idInsumo" class="idInsumoEditar" />
									<div class="col-lg-6">
										<div class="input-blocks">
											<label>Nombre</label>
											<div class="pass-group">
												<input type="text" class="nombre-insumo-editar" name="nombre" id="nombreEditar" required>
											</div>
										</div>
									</div>

									<div class="col-lg-6">
										<div class="input-blocks">
											<label>Tipo Insumo</label>
											<select class="select tipo-insumo-editar" required name="idTipoInsumo" id="idTipoInsumoEditar"></select>
										</div>
									</div>


									<div class="col-lg-6">
										<div class="input-blocks">
											<label>Marca</label>
											<select class="select marca-editar" required name="idMarca" id="idMarcaEditar"></select>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="input-blocks">
											<label>Categoria Insumo</label>
											<select class="select categoria-insumo-editar" required name="idCategoriaInsumos" id="idCategoriaInsumosEditar"></select>
										</div>
									</div>

									<div class="col-lg-6">
										<div class="input-blocks">
											<label>Presentación</label>
											<select class="select presentacion-editar" required name="idPresentacion" id="idPresentacionEditar"></select>
										</div>
									</div>

									<div class="modal-footer-btn">
										<button type="button" class="btn btn-cancel me-2" data-bs-dismiss="modal">Cancelar</button>
										<button type="submit" class="btn btn-submit">Editar</button>
									</div>
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div> 


	<!--  FIN Editar Reporte de desechos -->

<!-- jQuery -->
<script src="assets/js/jquery-3.7.1.min.js"></script>

<!-- Feather Icon JS -->
<script src="assets/js/feather.min.js"></script>

<!-- Slimscroll JS -->
<script src="assets/js/jquery.slimscroll.min.js"></script>

<!-- Datatable JS -->
<script src="assets/js/jquery.dataTables.min.js"></script>
<script src="assets/js/dataTables.bootstrap5.min.js"></script>

<!-- Datetimepicker JS -->
<script src="assets/js/moment.min.js"></script>
<script src="assets/js/bootstrap-datetimepicker.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="assets/js/bootstrap.bundle.min.js"></script>

<!-- Select2 JS -->
<script src="assets/plugins/select2/js/select2.min.js"></script>

<!-- Sweetalert 2 -->
<script src="assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
<script src="assets/plugins/sweetalert/sweetalerts.min.js"></script>

<!-- Custom JS --><script src="assets/js/theme-script.js"></script>
<script src="assets/js/script.js"></script>