@{
	ViewData["Title"] = "Home";
	Layout = "~/Views/Shared/_Layout_PDV.cshtml";
}
@{
	var id_usuario = Context.Session.GetString("id_usuario")?.ToString();
	var usuario = Context.Session.GetString("Correo")?.ToString();
	var nombre = Context.Session.GetString("Nombre")?.ToString();
	var rol = Context.Session.GetString("Rol")?.ToString();


}
	<div id="global-loader">
		<div class="whirly-loader"> </div>
	</div>
	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
		<div class="header">

			<!-- Logo -->
			<div class="header-left active">
			<a href="@Url.Action("Metricas","Home")" class="logo logo-normal">

				<img src="~/assets/img/logo-pizzeria-panaderia.png" alt="">
				</a>
		
			</div>
			<!-- /Logo -->

			<a id="mobile_btn" class="mobile_btn d-none" href="#sidebar">
				<span class="bar-icon">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</a>

			<!-- Header Menu -->
			<ul class="nav user-menu">

				<!-- Search -->
				<li class="nav-item nav-searchinputs">
					<div class="top-nav-search">

					</div>
				</li>
				<!-- /Search -->
				<!-- Select Store -->
				@* <li class="nav-item dropdown has-arrow main-drop select-store-dropdown">
					<a href="javascript:void(0);" class="dropdown-toggle nav-link select-store" data-bs-toggle="dropdown">
						<span class="user-info">
							<span class="user-letter">
								<img src="~/assets/img/store/store-01.png" alt="Store Logo" class="img-fluid">
							</span>
							<span class="user-detail">
								<span class="user-name">Select Store</span>
							</span>
						</span>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<a href="javascript:void(0);" class="dropdown-item">
							<img src="~/assets/img/store/store-01.png" alt="Store Logo" class="img-fluid"> Grocery Alpha
						</a>
						<a href="javascript:void(0);" class="dropdown-item">
							<img src="~/assets/img/store/store-02.png" alt="Store Logo" class="img-fluid"> Grocery Apex
						</a>
						<a href="javascript:void(0);" class="dropdown-item">
							<img src="~/assets/img/store/store-03.png" alt="Store Logo" class="img-fluid"> Grocery Bevy
						</a>
						<a href="javascript:void(0);" class="dropdown-item">
							<img src="~/assets/img/store/store-04.png" alt="Store Logo" class="img-fluid"> Grocery Eden
						</a>
					</div>
				</li> *@
				<!-- /Select Store -->
			

				<li class="nav-item nav-item-box">
					<a href="javascript:void(0);" id="btnFullscreen">
						<i data-feather="maximize"></i>
					</a>
				</li>

				<li class="nav-item dropdown has-arrow main-drop">
					<a href="javascript:void(0);" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
						<span class="user-info">
							<span class="user-letter">
							<img src="~/assets/img/logo-pizzeria.png" alt="" class="img-fluid">
							</span>
							<span class="user-detail">
								<span class="user-name">@nombre</span>
								<span class="user-role">@rol</span>
							</span>
						</span>
					</a>
					<div class="dropdown-menu menu-drop-user">
						<div class="profilename">
							<div class="profileset">
								<span class="user-img">
									<img src="~/assets/img/logo-pizzeria.png" alt="">
									<span class="status online"></span>
								</span>
								<div class="profilesets">
									<h6>@nombre</h6>
									<h5>@rol</h5>
								</div>
							</div>
							<hr class="m-0">
				@* 			<a class="dropdown-item" href="profile.html"> <i class="me-2" data-feather="user"></i> My Profile</a>
							<a class="dropdown-item" href="general-settings.html"><i class="me-2" data-feather="settings"></i>Settings</a> *@
							<hr class="m-0">
							<a class="dropdown-item logout pb-0" href="signin.html"><img src="~/assets/img/icons/log-out.svg" class="me-2" alt="img">Cerrar Sesión</a>
						</div>
					</div>
				</li>
			</ul>
			<!-- /Header Menu -->
			<!-- Mobile Menu -->
			<div class="dropdown mobile-user-menu">
				<a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
				<div class="dropdown-menu dropdown-menu-right">
	@* 				<a class="dropdown-item" href="profile.html">My Profile</a>
					<a class="dropdown-item" href="general-settings.html">Settings</a> *@
					<a class="dropdown-item" href="signin.html">Cerrar Sesión</a>
				</div>
			</div>
			<!-- /Mobile Menu -->
		</div>
		<!-- Header -->

		<div class="page-wrapper pos-pg-wrapper ms-0">
			<div class="content pos-design p-0">
				<div class="btn-row d-sm-flex align-items-center">
@* 					<a href="javascript:void(0);" class="btn btn-secondary mb-xs-3" data-bs-toggle="modal" data-bs-target="#orders"><span class="me-1 d-flex align-items-center"><i data-feather="shopping-cart" class="feather-16"></i></span>View Orders</a> *@
					@* <a href="javascript:void(0);" class="btn btn-info"><span class="me-1 d-flex align-items-center"><i data-feather="rotate-cw" class="feather-16"></i></span>Reset</a>
					<a href="javascript:void(0);" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#recents"><span class="me-1 d-flex align-items-center"><i data-feather="refresh-ccw" class="feather-16"></i></span>Transaction</a> *@
				</div>

				<div class="row align-items-start pos-wrapper">
					<div class="col-md-12 col-lg-8">
						<div class="pos-categories tabs_wrapper">
							<h5>Categorias</h5>
							<p>Seleccione de las categorías de abajo</p>
							<ul class="tabs owl-carousel pos-category">
								@* <li id="all">
									<a href="javascript:void(0);">
										<img src="~/assets/img/categories/category-01.png" alt="Categories">
									</a>
									<h6><a href="javascript:void(0);">All Categories</a></h6>
									<span>80 Items</span>
								</li> *@
								<li id="panaderia">
									<a href="javascript:void(0);">
										<img src="~/assets/img/bread.png" alt="Categories">
									</a>
									<h6><a>Panadería</a></h6>
								</li>
								<li id="pizzeria">
									<a href="javascript:void(0);">
										<img src="~/assets/img/pizza.png" alt="Categories">
									</a>
									<h6><a>Pizzería</a></h6>
								</li>
								<li id="pastas">
									<a href="javascript:void(0);">
										<img src="~/assets/img/spaguetti.png" alt="Categories">
									</a>
									<h6><a>Pastas</a></h6>
								</li>
								<li id="bebidas">
									<a href="javascript:void(0);">
										<img src="~/assets/img/softdrink.png" alt="Categories">
									</a>
									<h6><a>Bebidas</a></h6>
								</li>

							</ul>
							<div class="pos-products">
								<div class="d-flex align-items-center justify-content-between">
									<h5 class="mb-3">Productos</h5>
								</div>
								<div class="tabs_container">
									<div class="tab_content active" data-tab="all">
									
									</div>
									<div class="tab_content" data-tab="panaderia">
										<div class="row">
										<!-- Aquí se inyectan los productos dinámicamente -->
										</div>
									</div>

									<div class="tab_content" data-tab="pizzeria">
										<div class="row">
										<!-- Aquí se inyectan los productos dinámicamente -->
										</div>
									</div>

									<div class="tab_content" data-tab="pastas">
										<div class="row">
											<!-- Aquí se inyectan los productos dinámicamente -->
										</div>
									</div>
									<div class="tab_content" data-tab="bebidas">
										<div class="row">
											<!-- Aquí se inyectan los productos dinámicamente -->
										</div>
									</div>

								
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-lg-4 ps-0">
						<aside class="product-order-list">
							<div class="head d-flex align-items-center justify-content-between w-100">
								<div class="">
									<h5>Orden</h5>
									<span>ID : #65565</span>
								</div>
								<div class="">
									@* <a class="confirm-text" href="javascript:void(0);"><i data-feather="trash-2" class="feather-16 text-danger"></i></a>
									<a href="javascript:void(0);" class="text-default"><i data-feather="more-vertical" class="feather-16"></i></a> *@
								</div>
							</div>
							<div class="customer-info block-section">
								<h6>Informacion de cliente</h6>
								<div class="input-block d-flex align-items-center">
									 <div class="flex-grow-1">
									<p>Agregar Cliente</p>
									</div> 
									@* <div class="flex-grow-1">
										<select class="select">
											<option>Walk in Customer</option>
											<option>John</option>
											<option>Smith</option>
											<option>Ana</option>
											<option>Elza</option>
										</select>
									</div> *@
									<a href="#" class="btn btn-primary btn-icon" data-bs-toggle="modal" data-bs-target="#create"><i data-feather="user-plus" class="feather-16"></i></a>
								</div> 
							 	@* <div class="input-block">
									<select class="select">
										<option>Search Products</option>
										<option>IPhone 14 64GB</option>
										<option>MacBook Pro</option>
										<option>Rolex Tribute V3</option>
										<option>Red Nike Angelo</option>
										<option>Airpod 2</option>
										<option>Oldest</option>
									</select>
								</div> *@
							</div>

						<div class="product-added block-section">
							<div class="head-text d-flex align-items-center justify-content-between">
								<h6 class="d-flex align-items-center mb-0">Productos Agregados</h6>
								<a href="javascript:void(0);" class="d-flex align-items-center text-danger" id="remove-all"><span class="me-1"><i data-feather="x" class="feather-16"></i></span>Remover Todo</a>
							</div>
							<div class="product-wrap" id="product-list">
								<!-- Los productos agregados se inyectarán aquí -->
							</div>
						</div>

							<div class="block-section">
								<div class="selling-info">
									<div class="row">
									<h6 class="d-flex align-items-center mb-0">Detalle</h6>
										@* <div class="col-12 col-sm-4">
											<div class="input-block">
												<label>Order Tax</label>
												<select class="select">
													<option>GST 5%</option>
													<option>GST 10%</option>
													<option>GST 15%</option>
													<option>GST 20%</option>
													<option>GST 25%</option>
													<option>GST 30%</option>
												</select>
											</div>
										</div>
										<div class="col-12 col-sm-4">
											<div class="input-block">
												<label>Shipping</label>
												<select class="select">
													<option>15</option>
													<option>20</option>
													<option>25</option>
													<option>30</option>
												</select>
											</div>
										</div>
										<div class="col-12 col-sm-4">
											<div class="input-block">
												<label>Discount</label>
												<select class="select">
													<option>10%</option>
													<option>10%</option>
													<option>15%</option>
													<option>20%</option>
													<option>25%</option>
													<option>30%</option>
												</select>
											</div>
										</div> *@
									</div>
								</div>
								<div class="order-total">
									<table class="table table-responsive table-borderless">
									@* 	<tr>
											<td>Sub Total</td>
											<td class="text-end">$60,454</td>
										</tr>
										<tr>
											<td>Tax (GST 5%)</td>
											<td class="text-end">$40.21</td>
										</tr>
										<tr>
											<td>Shipping</td>
											<td class="text-end">$40.21</td>
										</tr>
										<tr>
											<td>Sub Total</td>
											<td class="text-end">$60,454</td>
										</tr>
										<tr>
											<td class="danger">Discount (10%)</td>
											<td class="danger text-end">$15.21</td>
										</tr> *@
										<tr>
											<td>Total</td>
										<td class="text-end">₡20,024.5</td>
										</tr>
									</table>
								</div>
							</div>

							<div class="block-section payment-method">
								<h6>Metodo de Pago</h6>
								<div class="row d-flex align-items-center justify-content-center methods">
									<div class="col-md-6 col-lg-4 item">
										<div class="default-cover">
											<a href="javascript:void(0);">
												<img src="~/assets/img/icons/cash-pay.svg" alt="Payment Method">
												<span>Efectivo</span>
											</a>
										</div>
									</div>
									<div class="col-md-6 col-lg-4 item">
										<div class="default-cover">
											<a href="javascript:void(0);">
												<img src="~/assets/img/icons/credit-card.svg" alt="Payment Method">
												<span>Tarjeta</span>
											</a>
										</div>
									</div>
									<div class="col-md-6 col-lg-4 item">
										<div class="default-cover">
											<a href="javascript:void(0);">
												<img src="~/assets/img/icons/qr-scan.svg" alt="Payment Method">
												<span>Simpe</span>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="d-grid btn-block">
								<a class="btn btn-secondary" href="javascript:void(0);">
								Gran Total : ₡24,024.5
								</a>
							</div>
							<div class="btn-row d-sm-flex align-items-center justify-content-between">
								@* <a href="javascript:void(0);" class="btn btn-info btn-icon flex-fill" data-bs-toggle="modal" data-bs-target="#hold-order"><span class="me-1 d-flex align-items-center"><i data-feather="pause" class="feather-16"></i></span>Hold</a> *@
								<a href="javascript:void(0);" class="btn btn-danger btn-icon flex-fill"><span class="me-1 d-flex align-items-center"><i data-feather="trash-2" class="feather-16"></i></span>Vaciar</a>
								<a href="javascript:void(0);" class="btn btn-success btn-icon flex-fill" data-bs-toggle="modal" data-bs-target="#payment-completed"><span class="me-1 d-flex align-items-center"><i data-feather="credit-card" class="feather-16"></i></span>Pagar</a>
							</div>

						</aside>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- /Main Wrapper -->
	<!-- Payment Completed -->
	<div class="modal fade modal-default" id="payment-completed" aria-labelledby="payment-completed">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body text-center">
					<form action="pos.html">
						<div class="icon-head">
							<a href="javascript:void(0);">
								<i data-feather="check-circle" class="feather-40"></i>
							</a>
						</div>
						<h4>Pago Completado</h4>
						<p class="mb-0">¿Quiere imprimir el recibo u ordenar de nuevo?</p>
						<div class="modal-footer d-sm-flex justify-content-between">
							<button type="button" class="btn btn-primary flex-fill" data-bs-toggle="modal" data-bs-target="#print-receipt">Imprimir Recibo<i class="feather-arrow-right-circle icon-me-5"></i></button>
						<a href="@Url.Action("Punto_De_Venta","Home")" class="btn btn-secondary flex-fill">Siguiente Orden<i class="feather-arrow-right-circle icon-me-5"></i></a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Payment Completed -->
	<!-- Print Receipt -->
	<div class="modal fade modal-default" id="print-receipt" aria-labelledby="print-receipt">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="d-flex justify-content-end">
					<button type="button" class="close p-0" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="icon-head text-center">
						<a href="javascript:void(0);">
							<img src="~/assets/img/logo-pizzeria.png" width="100" height="30" alt="Receipt Logo"> 
						</a>
					</div>
					<div class="text-center info text-center">
						<h6>3 Rios Pizzeria.,</h6>
						<p class="mb-0">Telefono: +506 2279 8626 / 2278 1596</p>
						<p class="mb-0">Correo: <a>tresriospizzeria@gmail.com</a></p>
					</div>
					<div class="tax-invoice">
						<h6 class="text-center">Factura</h6>
						<div class="row">
							<div class="col-sm-12 col-md-6">
								<div class="invoice-user-name"><span>Nombre: </span><span>David Gonzalez</span></div>
								<div class="invoice-user-name"><span>Num Factura: </span><span>CS132453</span></div>
							</div>
							<div class="col-sm-12 col-md-6">
								<div class="invoice-user-name"><span>Fecha: </span><span>01.07.2024</span></div>
							</div>
						</div>
					</div>
					<table class="table-borderless w-100 table-fit">
						<thead>
							<tr>
								<th># Producto</th>
								<th>Precio</th>
								<th>Cantidad</th>
								<th class="text-end">Total</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1. Pizza Super Jumbo</td>
							<td>₡13,000</td>
								<td>1</td>
							<td class="text-end">₡13,000</td>
							</tr>
							<tr>
								<td colspan="4">
									<table class="table-borderless w-100 table-fit">
									
									
										<tr>
											<td>Total Pagado :</td>
										<td class="text-end"> ₡13,000</td>
										</tr>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="text-center invoice-bar">
			
						<p>Gracias por comprar con nosotros. Vuelva Pronto</p>
						<a href="javascript:void(0);" class="btn btn-primary">Imprimir Recibo</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Print Receipt -->
	<!-- Products -->
	<div class="modal fade modal-default pos-modal" id="products" aria-labelledby="products">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header p-4 d-flex align-items-center justify-content-between">
					<div class="d-flex align-items-center">
						<h5 class="me-4">Products</h5>
						<span class="badge bg-info d-inline-block mb-0">Order ID : #666614</span>
					</div>
					<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body p-4">
					<form action="pos.html">
						<div class="product-wrap">
							<div class="product-list d-flex align-items-center justify-content-between">
								<div class="d-flex align-items-center flex-fill">
									<a href="javascript:void(0);" class="img-bg me-2">
										<img src="~/assets/img/products/pos-product-16.png" alt="Products">
									</a>
									<div class="info d-flex align-items-center justify-content-between flex-fill">
										<div>
											<span>PT0005</span>
											<h6><a href="javascript:void(0);">Red Nike Laser</a></h6>
										</div>
										<p>$2000</p>
									</div>
								</div>

							</div>
							<div class="product-list d-flex align-items-center justify-content-between">
								<div class="d-flex align-items-center flex-fill">
									<a href="javascript:void(0);" class="img-bg me-2">
										<img src="~/assets/img/products/pos-product-17.png" alt="Products">
									</a>
									<div class="info d-flex align-items-center justify-content-between flex-fill">
										<div>
											<span>PT0235</span>
											<h6><a href="javascript:void(0);">Iphone 14</a></h6>
										</div>
										<p>$3000</p>
									</div>
								</div>
							</div>
							<div class="product-list d-flex align-items-center justify-content-between">
								<div class="d-flex align-items-center flex-fill">
									<a href="javascript:void(0);" class="img-bg me-2">
										<img src="~/assets/img/products/pos-product-16.png" alt="Products">
									</a>
									<div class="info d-flex align-items-center justify-content-between flex-fill">
										<div>
											<span>PT0005</span>
											<h6><a href="javascript:void(0);">Red Nike Laser</a></h6>
										</div>
										<p>$2000</p>
									</div>
								</div>
							</div>
							<div class="product-list d-flex align-items-center justify-content-between">
								<div class="d-flex align-items-center flex-fill">
									<a href="javascript:void(0);" class="img-bg me-2">
										<img src="~/assets/img/products/pos-product-17.png" alt="Products">
									</a>
									<div class="info d-flex align-items-center justify-content-between flex-fill">
										<div>
											<span>PT0005</span>
											<h6><a href="javascript:void(0);">Red Nike Laser</a></h6>
										</div>
										<p>$2000</p>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer d-sm-flex justify-content-end">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Products -->
<!-- /Agregar Cliente -->
	<div class="modal fade" id="create" tabindex="-1" aria-labelledby="create" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Crear</h5>
					<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="pos.html">
						<div class="row">
							<div class="col-lg-6 col-sm-12 col-12">
								<div class="input-blocks">
									<label>Nombre del cliente</label>
									<input type="text" class="form-control">
								</div>
							</div>
							<div class="col-lg-6 col-sm-12 col-12">
								<div class="input-blocks">
									<label>Correo</label>
									<input type="email" class="form-control">
								</div>
							</div>
							<div class="col-lg-6 col-sm-12 col-12">
								<div class="input-blocks">
									<label>Telefono</label>
									<input type="text" class="form-control">
								</div>
							</div>
							
							<div class="col-lg-6 col-sm-12 col-12">
								<div class="input-blocks">
									<label>Provincia</label>
									<input type="text">
								</div>
							</div>
							<div class="col-lg-6 col-sm-12 col-12">
								<div class="input-blocks">
									<label>Canton</label>
									<input type="text">
								</div>
							</div>
						<div class="col-lg-6 col-sm-12 col-12">
							<div class="input-blocks">
								<label>Distrito</label>
								<input type="text">
							</div>
						</div>
						</div>
						<div class="modal-footer d-sm-flex justify-content-end">
							<button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancelar</button>
							<button type="submit" class="btn btn-submit me-2">Aceptar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

<!-- /Tipo de Pizza -->
<div class="modal fade" id="tipo-pizza" tabindex="-1" aria-labelledby="create" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Seleccione Tipos de Pizza</h5>
				<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body checkboxes-container">
				<!-- Contenedor para el contenido dinámico -->
				<div class="dynamic-content">
					<!-- El contenido dinámico se inyectará aquí -->
				</div>
				<div class="modal-footer d-sm-flex justify-content-end">
					<button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-submit me-2" data-bs-dismiss="modal">Aceptar</button>
				</div>
			</div>
		</div>
	</div>
</div>




	